@model List<Products_CRUD.Models.Entity.Product>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<a href="/product/create" class="btn btn-primary">Add Product</a>
<a href="/cart/index" class="btn btn-primary">Cart</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Option</th>
    </tr>
    @foreach (var s in Model)
    {
<tr>
    <td>@s.id</td>
    <td>@s.name</td>
    <td>@s.price</td>
    <td>@s.quantity</td>
    <td>@s.description</td>
    <th><a href="/product/addtocart?id=@s.id" class="btn btn-primary">Add to cart</a></th>
</tr>
    }
</table>

